{% extends "adopciones/index.html" %}
{% load static %}

{% block content %}
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">  <!-- Usamos ancho completo -->
        <div class="detail-box">
          <div class="heading_container text-left">
            <h2>Acerca de mí</h2>
            <hr>
            <p>Hola Profes!! Mi nombre es Lia Osorio, tengo 39 años, y este es mi primer curso de programación!</p>
            <p>Soy Lic. en Adm. Empresas y mi trabajo actualmente es administrativo-contable, realizo análisis presupuestarios, entre otras cosas.</p>
            <p>Me inscribí aquí para aprender sobre programación, y si sigo aprendiendo, quizás pueda realizar algunos pequeños trabajos como complemento económico a mi actual trabajo.</p>
            <p>La cursada fue dificil para mi, pero estoy contenta, ya que pude ir realizando las distintas actividades propuestas en el curso, siendo una outsider en este rubro. Quisiera realizar otros cursos, relacionados con páginas web o de DATA, ¡Hay mucho para aprender!</p>
            <p>Les agradezco profundamente a Norman y a Valentin, que nos tuvieron mucha paciencia a lo largo de la cursada.</p>
            <p>¡MUCHAS GRACIAS!</p>
          </div>

            <span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
