{% extends "adopciones/index.html" %}
{% load static %}

{% block content %}
<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2 class="">
        Registrate como Voluntario! 
        <hr> 
      </h2> 
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form method="post" class="contact_form">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="btn-box mt-3">
            <button type="submit">
              Registrarse
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="map_container">
          <div class="map">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
